In [19]:
from selenium import webdriver
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC

In [20]:
league_names = pd.DataFrame({
    'country':['spain', 'england','germany','france','italy'],
    'league_name':['primera-division','premier-league','bundesliga','ligue-1','serie-a']
})
league_names

   country       league_name
0    spain  primera-division
1  england    premier-league
2  germany        bundesliga
3   france           ligue-1
4    italy           serie-a

In [117]:
cup_names = pd.DataFrame({
    'country':['europe-uefa','europe-uefa','spain','england','germany','france', 'italy'],
    'league_name':['uefa-champions-league','uefa-europa-league','fa-cup','fa-cup','fa-cup','fa-cup','fa-cup'],
    'rounds': [
    ['first-group-stage','second-group-stage','group-stage','round-16','quarter-finals','semi-finals','final'],
    ['group-stage','round-32','round-16','quarter-finals','semi-finals','final'],
    ['first-round','second-round','third-round','fourth-round','round-16','round-32','quarter-finals','semi-finals','final'],
    ['first-round','second-round','third-round','fourth-round','fifth-round','quarter-finals','semi-finals','final'],
    ['first-round','second-round','third-round','round-16','quarter-finals','semi-finals','final'],
    ['eighth-round','round-64','round-32','round-16','quarter-finals','semi-finals','final'],
    ['first-round','second-round','third-round','fourth-round','round-16','quarter-finals','semi-finals','final']
    ]
})
cup_names

,country,league_name,rounds
0,europe-uefa,uefa-champions-league,"[first-group-stage, second-group-stage, group-..."
1,europe-uefa,uefa-europa-league,"[group-stage, round-32, round-16, quarter-fina..."
2,spain,fa-cup,"[first-round, second-round, third-round, fourt..."
3,england,fa-cup,"[first-round, second-round, third-round, fourt..."
4,germany,fa-cup,"[first-round, second-round, third-round, round..."
5,france,fa-cup,"[eighth-round, round-64, round-32, round-16, q..."
6,italy,fa-cup,"[first-round, second-round, third-round, fourt..."

In [22]:
# https://www.xscores.com/soccer/ country / cup_name / round / start_year - end_year

In [120]:
country = cup_names.iloc[6,:][0]
league_name = cup_names.iloc[6,:][1] + '/' + cup_names.iloc[6,:]['rounds'][-1]
year = 2008
url = 'https://www.xscores.com/soccer/' + country + '/' + league_name + '/results/' + str(year) + '-' + str(year+1)
url

'https://www.xscores.com/soccer/italy/fa-cup/final/results/2008-2009'

In [97]:
path = '/Users/willfitzhugh/Desktop/chromedriver'
driver = webdriver.Chrome(path)
driver.get(url)

#wait for page to load
try:
    elem = WebDriverWait(driver, 10)
finally:
    print()

/var/folders/7g/x8__8_vj0p7326fs6srlnckm0000gn/T/ipykernel_97796/3862016287.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [98]:
path = '/Users/willfitzhugh/Desktop/chromedriver'
driver = webdriver.Chrome(path)
driver.get(url)

#wait for page to load
try:
    elem = WebDriverWait(driver, 30).until(
    EC.presence_of_element_located((By.CSS_SELECTOR, 'div.match_ft__home')))
finally:
    scores_element = driver.find_elements(By.CSS_SELECTOR, 'div.match_ft__home')

/var/folders/7g/x8__8_vj0p7326fs6srlnckm0000gn/T/ipykernel_97796/802060597.py:2: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [99]:
scores_element = driver.find_elements(By.CSS_SELECTOR, 'div.match_ft__home')

scores = []
for i in scores_element:
    scores.extend([i.text])
home_scores = scores[::2]
away_scores = scores[1::2]

In [100]:
dates_times_elements = driver.find_elements(By.XPATH, "//div[contains(@class, 'round_date') or contains(@class, 'match_ko')]")

dates_times = []
for i in dates_times_elements[1:]:
    dates_times.extend([i.text])

In [101]:
dates_times

['21/01/2009', '19:00', '21:45', '22/01/2009', '22:00', '04/02/2009', '21:45']

In [102]:
date_elements = driver.find_elements(By.CSS_SELECTOR, 'div.round_date')
dates = []
for i in date_elements:
    dates.extend([i.text])

In [103]:
dates

['21/01/2009', '22/01/2009', '04/02/2009']

In [104]:
time_elements = driver.find_elements(By.CSS_SELECTOR, 'div.match_ko')
times = []
for i in time_elements[1:]:
    times.extend([i.text])
times

['19:00', '21:45', '22:00', '21:45']

In [105]:
home_team_elements = driver.find_elements(By.CSS_SELECTOR, 'div.match_home_txt')
home_teams = []
for i in home_team_elements[1:]:
    home_teams.extend([i.text])
home_teams

['UDINESE', 'INTER', 'LAZIO', 'JUVENTUS']

In [106]:
away_team_elements = driver.find_elements(By.CSS_SELECTOR, 'div.match_away_txt')
away_teams = []
for i in away_team_elements[1:]:
    away_teams.extend([i.text])
away_teams

['SAMPDORIA', 'ROMA', 'TORINO', 'NAPOLI']

In [107]:
penalty_elements = driver.find_elements(By.CSS_SELECTOR, 'div.match_pn__home')
penalties = []
for i in penalty_elements:
    penalties.extend([i.text])
home_pens = penalties[::2]
away_pens = penalties[1::2]

In [108]:
#extra time score (if any)
et_elements = driver.find_elements(By.CSS_SELECTOR, 'div.match_et__home')
extra_time = []
for i in et_elements:
    extra_time.extend([i.text])
home_et = extra_time[::2]
away_et = extra_time[1::2]
print(home_et, away_et)

['1', '', '', '0'] ['1', '', '', '0']

In [109]:
len(dates_times) - len(dates)

4

In [110]:
#get date indices
date_indices = []
for i in range(len(dates_times)):
    if dates_times[i] in dates:
        date_indices.append(i)
date_indices

[0, 3, 5]

In [111]:
#prepare dates column
date_column = []

for i in range(len(date_indices)-1):
    date_to_add = dates_times[date_indices[i]]
    
    index_diff = date_indices[i+1] - date_indices[i]
    
    num_games = (index_diff - 1)
    
    date_column.extend( num_games * [date_to_add] )

date_column.extend( (len(dates_times) - date_indices[-1] - 1) * [dates_times[date_indices[-1]]] )

In [112]:
df = pd.DataFrame({
    'Date':date_column,
    'Time':times,
    'Home_Team':home_teams,
    'Home_Score':home_scores,
    'Away_Score':away_scores,
    'Away_Team':away_teams,
    'Home_Score_AET':home_et,
    'Away_Score_AET':away_et,
    'Home_Penalties':home_pens,
    'Away_Penalties':away_pens
})

In [114]:
# add home/away points columns for future aggregation
df.loc[(df['Home_Score'].str.isdigit() == True) &
       (df['Home_Score'].str.isdigit() == True), 
       ['Home_Points','Away_Points']] = [1, 1]

df.loc[ (df['Home_Score']>df['Away_Score']) | 
       (df['Home_Score_AET']>df['Away_Score_AET']) |
      (df['Home_Penalties']>df['Away_Penalties']),
       ('Home_Points', 'Away_Points')] = [3, 0]

df.loc[ (df['Home_Score']<df['Away_Score']) | 
       (df['Home_Score_AET']<df['Away_Score_AET']) |
      (df['Home_Penalties']<df['Away_Penalties']),
       ('Home_Points', 'Away_Points')] = [0, 3]

df

,Date,Time,Home_Team,Home_Score,Away_Score,Away_Team,Home_Penalties,Away_Penalties,Home_Score_AET,Away_Score_AET,Home_Points,Away_Points
0,21/01/2009,19:00,UDINESE,1,1,SAMPDORIA,1,4,1,1,0.0,3.0
1,21/01/2009,21:45,INTER,2,1,ROMA,,,,,3.0,0.0
2,22/01/2009,22:00,LAZIO,3,1,TORINO,,,,,3.0,0.0
3,04/02/2009,21:45,JUVENTUS,0,0,NAPOLI,4,3,0,0,3.0,0.0

In [116]:
table_series = pd.merge(df.groupby('Home_Team').sum()[['Home_Points']].reset_index(),
         df.groupby('Away_Team').sum()[['Away_Points']].reset_index(),
         how = 'left', left_on = 'Home_Team', right_on = 'Away_Team'
        ).drop(columns = 'Away_Team'
              ).set_index('Home_Team'
                        ).sum(axis=1
                             ).sort_values(ascending=False)
table = pd.DataFrame({
    'Team':table_series.index,
    'Points':table_series.values
})

table

       Team  Points
0     INTER     3.0
1  JUVENTUS     3.0
2     LAZIO     3.0
3   UDINESE     0.0

In [ ]:
################ add goal difference to table for tie breaker for final position